
.diseases{
    /* display: table-column; */
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    /* margin-right: 30px; */
    background-color: #ECF4FA;
    z-index: 1;
    /* text-align: center; */
    align-items: center;
    /* justify-content: flex-start; */
    /* margin: 10px; */
    /* padding: 20px; */
    /* width: 100%; */
    height: 350px;
    width: 290px;
    /* min-width: 100px; */
    border-radius: 1px;
    /* mask-image: linear-gradient(to 
     bottom, rgba(0,0,0,1),rgba(0,0,0,0)); */
     z-index: -1;
     /* padding-bottom: 30px; */
     text-decoration: none;

}
.diseases--title{
    margin-right: 60px;
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: none;
}
.diseases--text{
    /* font-weight: 1??00; */
    margin-top: -80px;
    font-size: 20px;
    text-decoration: none;
    color:#011954 ;
}
.diseases--image{
    /* background-image: url(https://image.shutterstock.com/image-vector/swoosh-leaf-letter-v-260nw-428350549.jpg); */
    /* display: flex; */
    /* padding-top: 5px; */
    /* margin-top: 50px; */
    /* height: 230px; */
    height: 350px;
    width: 290px;
    /* padding-left: 40px; */
    /* margin-right: 0px; */
    /* margin-bottom: 50px; */
    margin-left:-20px;
    z-index: 1;
    
    /* border-radius: 15px; */
    /* border-bottom-left-radius: 15px; */
    
}
.diseases:hover{
    /* transform: scale(1.1);
    transition: 0.4s ease-in-out;
    transition-delay: 0.1s;
    filter: brightness(70%); */
    position: relative; 
             top: -5px;
             transition: 10000ms;
             /* -webkit-transition: all 20ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 20ms ease;
-o-transition: all 20ms ease;
transition: all 20ms ease; */
}
.diseases--container{
    /* background-image: url(https://image.shutterstock.com/image-vector/swoosh-leaf-letter-v-260nw-428350549.jpg); */
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-repeat: no-repeat;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 250px;
    /* mask-image: linear-gradient(to 
     bottom, rgba(0,0,0,1),rgba(0,0,0,0)); */


}

.diseases--info{
    margin-top: 50px;
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
    
}

.remedie,
.info{
    padding-bottom: 10px;
}