.home{
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ECF4FA; */
    /* background: color #136307; */
   
    
}
 
.home--container{
    /* align-items: stretch; */
    background-color: #ECF4FA;
    /* padding-right:20px; */
    /* z-index: inherit; */
    /* z-index: -1; */
    height: 500%;
    width: 100%;
    margin-left: 5px;
    margin-right: 1px;
    /* display: grid; */
    /* grid-gap: 5px; */
    
    
    
    /* background-color: #ECF4FA; */
}
.head--image{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 200px;
    height: 300px;
}

.body--image,
.hands--image,
.legs--image{
    width: 200px;
    height: 300px;
}
/* 
.home--image{
    background-color: #136307;
     background-image:url(https://asclepius.ancorathemes.com/splash/src/img/hero/left/2.jpg); 
    object-fit: contain;
    width: 100%;
     z-index: -1; 
     margin-bottom: -200px;
     mask-image: linear-gradient(to 
     bottom, rgba(0,0,0,1),rgba(0,0,0,0));
} */
.image--container--class{
    /* height: 1000px; */
    /* margin-bottom: -500px */
    /* overflow-x: hidden; */
    /* z-index: -1000; */

}

.image--container{
    /* background-color: #; */
    /* height: 750px; */
    /* padding-bottom: 170px; */
    height: 600px;
    
    /* padding-bottom: -300px; */
    display: grid;
    z-index: -100000;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 5px;
    /* padding-bottom: 0px; */
    /* overflow-x: hidden; */
    
}
.home--image1{
    margin-left: 13px;
     margin-top: 3px;
    width: 300px;
    height: 200px;
    -ms-transform: rotate(-20deg); /* IE 9 */
  transform: rotate(-20deg);
}
.home--image2{
    margin-top: 170px;
    margin-left: -125px;
    width: 300px;
    height: 200px;
    /* -ms-transform: rotate(20deg); /* IE 9 */
    /* transform: rotate(20deg);  */
    /* width: 300px;
    height: 400px; */
    -ms-transform: rotate(-20deg); /* IE 9 */
  transform: rotate(-20deg);
}
.home--image3{
 
    width: 300px;
    /* z-index: 1000; */
    /* height: 200px; */
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);
    /* z-index: -1; */
}
.home--imagecenter{

    margin-top: -180px;
    margin-bottom: 60px;
    margin-left: 600px;
    /* padding-right: 13px; */

}
.home--text{
    margin-top: -50px;
    margin-bottom: 60px;
    margin-left: 450px;
    font-size:35px;
    color: #011954;
    font-weight: 700;
   
  
}
.search--input{
   height: 25px;
   width: 150%;
    margin-top: 400px;
    margin-right: 400px;

}
.home--image4{
   
   
    /* -ms-transform: rotate(-20deg); /* IE 9 */
    /* transform: rotate(20deg);  */
    width: 300px;
    height: 200px;
    -ms-transform: rotate(-20deg); /* IE 9 */
  transform: rotate(-20deg);
}
.home--image5{
 
    width: 300px;
    /* height: 200px; */
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);
    /* z-index: -1; */
    width: 300px;
    height: 200px;
    /* height: 100%; */
}
.home--image6{
    margin-left: 25px;
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);
    z-index: 1;
    width: 300px;
    height: 300px;
    
}
.home--image7{
    /* margin-left: 30px; */
  
    height: 250px;
    width: 150px;
    /* height: 200px; */
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);
    z-index: 10;
    /* width: 300px;
    height: 200px; */

}
.home--image8{
   
    height: 200px;
    width: 300px;
    /* height: 200px; */
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);
    z-index: 10;
}.home--row--container{
    
    display: flex;
    flex-direction: row;
    align-items:stretch;
    /* padding-right: 120px; */
    /* justify-content: center; */
    /* background-color: white; */
    /* z-index: 10000; */
    width: 100%;
    margin-left: 100px;
    max-width: 1100px;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    /* background-image: url(https://media.istockphoto.com/photos/abstract-medical-background-picture-id1147317861?b=1&k=20&m=1147317861&s=170667a&w=0&h=QkVuD4WyDIE552tNtPRvSoTZ7nXZ75qtLnUhXinyjAA=); */
    /* display: inline-block; */
}
.home--row{
    /* margin-left: 70px; */
    /* margin-right: 2px; */
    /* background-color: #ECF4FA ; */
    background-color: white;
    /* background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-blue-minimalist-medical-banner-image_261515.jpg); */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border-radius: 15px; */
    margin-right: -190px;
    padding-right: 200px;
    padding-left: 150px;
    z-index: 10000;
    /* background-repeat: no-repeat; */
    justify-content: space-evenly;
    width: 500px;
  
    
    /* max-width: 150px; */
    /* justify-content: center; */
    /* margin-bottom: -100px; */
}



.home--row--class{
    background-color: white;
    /* z-index: 10000; */
    /* background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-blue-minimalist-medical-banner-image_261515.jpg); */
    margin-top: -300px;
    margin-left: -3px;;
    margin-right: -50px;
    z-index: 1000;
    
}